<?xml version="1.0"?>

<robot name="neato_sim" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="neato_sim">
    <gazebo reference="base_link">
      <material>Gazebo/White</material>
    </gazebo>

    <gazebo reference="wheel_left_link">
      <mu1>1.0</mu1>
      <mu2>1.0</mu2>
      <kp>1000000.0</kp>
      <kd>100.0</kd>
      <minDepth>0.001</minDepth>
      <maxVel>1.0</maxVel>
    </gazebo>

    <gazebo reference="wheel_right_link">
      <mu1>1.0</mu1>
      <mu2>1.0</mu2>
      <kp>1000000.0</kp>
      <kd>100.0</kd>
      <minDepth>0.001</minDepth>
      <maxVel>1.0</maxVel>
    </gazebo>

    <gazebo reference="caster_front_right_link">
      <mu1>0.0</mu1>
      <mu2>0.0</mu2>
      <kp>1000000.0</kp>
      <kd>100.0</kd>
      <minDepth>0.001</minDepth>
      <maxVel>1.0</maxVel>
    </gazebo>

    <gazebo reference="caster_front_left_link">
      <mu1>0.0</mu1>
      <mu2>0.0</mu2>
      <kp>1000000.0</kp>
      <kd>100.0</kd>
      <minDepth>0.001</minDepth>
      <maxVel>1.0</maxVel>
    </gazebo>

    <gazebo reference="caster_back_right_link">
      <mu1>0.0</mu1>
      <mu2>0.0</mu2>
      <kp>1000000.0</kp>
      <kd>100.0</kd>
      <minDepth>0.001</minDepth>
      <maxVel>1.0</maxVel>
    </gazebo>

    <gazebo reference="caster_back_left_link">
      <mu1>0.0</mu1>
      <mu2>0.0</mu2>
      <kp>1000000.0</kp>
      <kd>100.0</kd>
      <minDepth>0.001</minDepth>
      <maxVel>1.0</maxVel>
    </gazebo>

    <gazebo reference="base_link">
      <mu1>0.3</mu1>
      <mu2>0.3</mu2>
      <sensor type="contact" name="left_bumper">
        <always_on>1</always_on>
        <update_rate>10.0</update_rate>
        <visualize>true</visualize>
        <contact>
          <collision>base_link_fixed_joint_lump__left_bumper_collision_1</collision>
        </contact>
        <plugin name="gazebo_ros_bumper_controller" filename="libgazebo_ros_bumper.so">
          <ros>
            <remapping>/bumper_states:=/bumper/left</remapping>
          </ros>
        </plugin>
      </sensor>
      <sensor type="contact" name="right_bumper">
        <always_on>1</always_on>
        <update_rate>10.0</update_rate>
        <visualize>true</visualize>
        <contact>
          <collision>base_link_fixed_joint_lump__right_bumper_collision_2</collision>
        </contact>
        <plugin name="gazebo_ros_bumper_controller" filename="libgazebo_ros_bumper.so">
          <ros>
            <remapping>/bumper_states:=/bumper/right</remapping>
          </ros>
        </plugin>
      </sensor>
      <sensor type="contact" name="front_left_bumper">
        <always_on>1</always_on>
        <update_rate>10.0</update_rate>
        <visualize>true</visualize>
        <contact>
          <collision>base_link_fixed_joint_lump__front_left_bumper_collision_4</collision>
        </contact>
        <plugin name="gazebo_ros_bumper_controller" filename="libgazebo_ros_bumper.so">
          <ros>
            <remapping>/bumper_states:=/bumper/front_left</remapping>
          </ros>
        </plugin>
      </sensor>
      <sensor type="contact" name="front_right_bumper">
        <always_on>1</always_on>
        <update_rate>10.0</update_rate>
        <visualize>true</visualize>
        <contact>
          <collision>base_link_fixed_joint_lump__front_right_bumper_collision_3</collision>
        </contact>
        <plugin name="gazebo_ros_bumper_controller" filename="libgazebo_ros_bumper.so">
          <ros>
            <remapping>/bumper_states:=/bumper/front_right</remapping>
          </ros>
        </plugin>
      </sensor>
    </gazebo>

    <!--
    <gazebo reference="cliff_sensor_left_link">
      <sensor type="ray_sensor" name="cliff_sensor_left">
        <always_on>true</always_on>
        <update_rate>50</update_rate>
        <visualize>true</visualize>
        <ray>
          <scan>
            <horizontal>
              <samples>50</samples>
              <resolution>1.0</resolution>
              <min_angle>-0.0436</min_angle>
              <max_angle>0.0436</max_angle>
            </horizontal>
          </scan>
          <range>
            <min>0.01</min>
            <max>0.15</max>
            <resolution>1.0</resolution>
          </range>
        </ray>
        <plugin name="gazebo_ros_laser_controller" filename="libgazebo_ros_gpu_laser.so">
          <topicName>/neato/cliff_left</topicName>
          <frameName>cliff_sensor_left_link</frameName>
        </plugin>
      </sensor>
    </gazebo>
    -->

    <!--
    <gazebo reference="cliff_sensor_right_link">
      <plugin name="gazebo_ros_laser_controller" filename="libgazebo_ros_ray_sensor.so">
          <ros>
            <argument>~/out:=cliff_right</argument>
          </ros>
          <frame_name>laser_link</frame_name>
      </plugin>
      <sensor type="ray" name="cliff_sensor_right">
        <always_on>true</always_on>
        <update_rate>5</update_rate>
        <visualize>true</visualize>
        <ray>
          <scan>
            <horizontal>
              <samples>1</samples>
              <resolution>1.0</resolution>
              <min_angle>-0.0436</min_angle>
              <max_angle>0.0436</max_angle>
            </horizontal>
          </scan>
          <range>
            <min>0.01</min>
            <max>0.15</max>
            <resolution>1.0</resolution>
          </range>
        </ray>
      </sensor>
    </gazebo>
    -->

    <gazebo reference="laser_link">
      <sensor type="ray" name="laser">
        <plugin name="gazebo_ros_laser_controller" filename="libgazebo_ros_ray_sensor.so">
          <ros>
            <remapping>~/out:=/scan</remapping>
          </ros>
          <output_type>sensor_msgs/LaserScan</output_type>
          <frame_name>laser_link</frame_name>
        </plugin>

        <always_on>true</always_on>
        <update_rate>5</update_rate>
        <visualize>true</visualize>
        <ray>
          <scan>
            <horizontal>
              <samples>360</samples>
              <resolution>1</resolution>
              <min_angle>${-M_PI}</min_angle>
              <max_angle>${M_PI}</max_angle>
            </horizontal>
          </scan>
          <range>
            <min>0.3</min>
            <max>50</max>
            <resolution>1</resolution>
          </range>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.0</stddev>
          </noise>
        </ray>
      </sensor>
    </gazebo>

    <gazebo reference="imu_link">
      <sensor type="imu" name="neato_imu">
        <plugin name="gazebo_ros_imu_controller" filename="libgazebo_ros_imu_sensor.so">
          <ros>
            <remapping>~/out:=/imu</remapping>
          </ros>
          <output_type>sensor_msgs/msg/Imu</output_type>
          <body_name>imu_link</body_name>
          <frame_name>imu_link</frame_name>
          <initial_orientation_as_reference>false</initial_orientation_as_reference>
        </plugin>
        <always_on>true</always_on>
        <update_rate>10</update_rate>
        <visualize>false</visualize>
        <imu>
          <noise>
            <type>gaussian</type>
            <rate>
              <mean>0.0</mean>
              <stddev>${0.0014*0.0014}</stddev>
              <bias_mean>0.0</bias_mean>
              <bias_stddev>0.0</bias_stddev>
            </rate>
            <accel>
              <mean>0.0</mean>
              <stddev>1.7e-2</stddev>
              <bias_mean>0.1</bias_mean>
              <bias_stddev>0.001</bias_stddev>
            </accel>
          </noise>
        </imu>
      </sensor>
    </gazebo>

    <!-- This version is for the NeatoWheelCommand controller. Commented out parameters, not sure if we need them yet. -->
    <gazebo>
      <plugin name="drive_controller" filename="libneato_gazebo_diff_drive.so">
        <left_joint>wheel_left_joint</left_joint>
        <right_joint>wheel_right_joint</right_joint>
        <wheel_diameter>0.070</wheel_diameter>
        <max_wheel_torque>20</max_wheel_torque>
        <max_wheel_acceleration>1.0</max_wheel_acceleration>
        <command_topic>neato_cmd</command_topic>

        <publish_odom>true</publish_odom>
        <publish_odom_tf>true</publish_odom_tf>
        <publish_wheel_tf>true</publish_wheel_tf>

        <odometry_topic>odom</odometry_topic>
        <odometry_frame>odom</odometry_frame>
        <robot_base_frame>base_link</robot_base_frame>
      </plugin>
    </gazebo>

    <!-- This version is for the normal diff_drive controller that takes in Twist msgs -->
    <!--
    <gazebo>
      <plugin name="differential_drive_controller" filename="libgazebo_ros_diff_drive.so">
        <update_rate>10</update_rate>
        <left_joint>wheel_left_joint</left_joint>
        <right_joint>wheel_right_joint</right_joint>
        <wheel_separation>0.235</wheel_separation>
        <wheel_diameter>0.070</wheel_diameter>
        <max_wheel_torque>20</max_wheel_torque>
        <max_wheel_acceleration>1.0</max_wheel_acceleration>
        <command_topic>cmd_vel</command_topic>

        <publish_odom>true</publish_odom>
        <publish_odom_tf>true</publish_odom_tf>
        <publish_wheel_tf>true</publish_wheel_tf>

        <odometry_topic>odom</odometry_topic>
        <odometry_frame>odom</odometry_frame>
        <robot_base_frame>base_link</robot_base_frame>
      </plugin>
    </gazebo>
    -->

  </xacro:macro>
</robot>
